@model AutoLotDAL.Models.Inventory

<tr>
    <td>
        @Html.DisplayFor(model => model.Make)
    </td>
    <td>
        @Html.DisplayFor(model => model.Color)
    </td>
    <td>
        @Html.DisplayFor(model => model.PetName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </td>
</tr>
